<!--Footer-->
      <footer class="page-footer font-small pt-0 pricing"style="background:#2a3361;color:#fff;">
      
          <!--Copyright-->
          <div class="footer-copyright py-3 text-center" style="background:#192044;color:#fff;">
              <div class="container-fluid"style="background:#192044;padding:25px;">
                  © 2018 Copyright: <a href="http://vnit.ac.in" style="color:#f0ad4e;"> VNIT, Nagpur </a>
              </div>
          </div>
          <!--/Copyright-->
      
      </footer>
      <!--/Footer-->
                      

